name: PR CI Pipeline

on:
  pull_request:
    branches: [ main ]
    types: [ opened, synchronize, reopened ]

jobs:
  checkout:
    name: Checkout Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

  setup:
    name: Setup Environment
    runs-on: ubuntu-latest
    needs: checkout
    steps:
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'

  syntax-check:
    name: Python Syntax Check
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Compile Python codes
        run: |
          python -m py_compile $(find src/ -name "*.py")
  
  Gitleaks-Scan:
    name: gitleaks 
    runs-on: self-hosted
    needs: syntax-check

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: gitleaks setup-scans
        uses: gitleaks/gitleaks-action@v2
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  
      
      - name: gitleaks scan
        run: |
          gitleaks detect --source ./.github --exit-code 1
          gitleaks detect --source ./src --exit-code 1

  Trivy-File-scan:
    name: Trivy File Scan
    runs-on: ubuntu-latest
    needs: Gitleaks-Scan

    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Run Trivy vulnerability scanner in fs mode
      uses: aquasecurity/trivy-action@0.33.1
      with:
        scan-type: 'fs'
        scan-ref: '.'
        format: 'table'
        exit-code: '1'
        ignore-unfixed: true
        vuln-type: 'os,library'
        severity: 'CRITICAL,HIGH'

        
