name: PR CI Pipeline

on:
  pull_request:
    branches: [ main ]
    types: [ opened, synchronize, reopened ]

jobs:
  checkout:
    name: Checkout Code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

  setup:
    name: Setup Environment
    runs-on: ubuntu-latest
    needs: checkout
    steps:
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'

  syntax-check:
    name: Python Syntax Check
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Compile Python codes
        run: |
          python -m py_compile $(find src/ -name "*.py")
  
  Gitleaks-Scan:
    name: gitleaks 
    runs-on: ubuntu-latest
    needs: syntax-check

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: gitleaks scans
        uses: gitleaks/gitleaks-action@v2
  
