name: Merge CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  Sonarqube-Scan:
    name: SonarQube Scan
    runs-on: self-hosted

    steps:
        - name: Checkout repository 
          uses: actions/checkout@v6
          with:
            fetch-depth: 0
   
        - name: SonarQube Scan file
          uses: sonarsource/sonarqube-scan-action@master
          with:
            projectBaseDir: .
            args: >
                -Dsonar.projectName=My-Project
                -Dsonar.projectKey=my-projectkey
                -Dsonar.sources=src
                -Dsonar.exclusions=**/__pycache__/**,**/*.pyc,**/.github/**
                -Dsonar.verbose=true
          env:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}



  Docker-Build-and-Push:
    runs-on: ubuntu-latest
    needs: Sonarqube-Scan
    outputs:
        short_sha: ${{ steps.set-sha.outputs.short_sha }}
    steps:

      - name: Checkout repository 
        uses: actions/checkout@v6
      
      - name: set short SHA
        run: echo "SHORT_SHA=${GIHUB_SHA::5}" >> $GITHUB_ENV 
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: rajkumardockerhub/fastapi-ci:${{ steps.set-sha.outputs.short_sha }}
          file: ./Dockerfile    

  Trivy-Image_Scanning:
    name: Trivy image Scan
    runs-on: ubuntu-latest
    needs: Docker-Build-and-Push
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Run Trivy vulnerability scanner in fs mode
        uses: aquasecurity/trivy-action@0.33.1
        with:
            scan-type: image
            scan-ref: rajkumardockerhub/fastapi-ci:${{ needs.docker-build-push.outputs.short_sha }}
            format: table
            exit-code: '1'
            ignore-unfixed: true
            vuln-type: 'os,library'
            severity: 'CRITICAL,HIGH'
        

