name: Merge CI Pipeline

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
      - 'docs/**'

jobs:
  Sonarqube-Scan:
    name: SonarQube Scan
    runs-on: self-hosted

    steps:
        - name: Checkout repository 
          uses: actions/checkout@v4
          with:
            fetch-depth: 0
   
        - name: SonarQube Scan file
          uses: sonarsource/sonarqube-scan-action@v2
          with:
            projectBaseDir: .
            args: >
                -Dsonar.projectName=My-Project
                -Dsonar.projectKey=my-projectkey
                -Dsonar.sources=src
                -Dsonar.exclusions=**/__pycache__/**,**/*.pyc,**/.github/**
                -Dsonar.verbose=true
          env:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}

        - name: SonarQube Quality Gate check
          id: sonarqube-quality-gate-check
          uses: sonarsource/sonarqube-quality-gate-action@v1.1.0
          with:
           pollingTimeoutSec: 600
          env:
            SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
            SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }} 
        
  Docker-Build-and-Push:
    runs-on: ubuntu-latest
    needs: Sonarqube-Scan
    outputs:
      app_changed: ${{ steps.changes.outputs.app }}
        
    steps:

      - name: Checkout repository 
        uses: actions/checkout@v4

      - name: Detect app changes
        id: changes
        uses: dorny/paths-filter@v3
        with:
          filters: |
            app:
              - 'src/**'
              - 'src/Dockerfile'
              - 'requirements.txt'
      
      - name: Login to Docker Hub
        if: steps.changes.outputs.app == 'true'
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Set up QEMU
        if: steps.changes.outputs.app == 'true'
        uses: docker/setup-qemu-action@v3
      
      - name: Set up Docker Buildx
        if: steps.changes.outputs.app == 'true'
        uses: docker/setup-buildx-action@v3
      
      - name: Build and push
        if: steps.changes.outputs.app == 'true'
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: rajkumardockerhub/fastapi-app-multistage:${{ github.sha }}
          file: ./src/Dockerfile    

  Trivy-Image-Scanning:
    name: Trivy image Scan
    runs-on: ubuntu-latest
    needs: Docker-Build-and-Push
    outputs:
      app_changed: ${{ needs.Docker-Build-and-Push.outputs.app_changed }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        if: needs.Docker-Build-and-Push.outputs.app_changed == 'true'
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Run Trivy vulnerability scanner in fs mode
        if: needs.Docker-Build-and-Push.outputs.app_changed== 'true'
        uses: aquasecurity/trivy-action@0.33.1
        with:
            scan-type: image
            scan-ref: rajkumardockerhub/fastapi-app-multistage:${{ github.sha }}
            format: table
            exit-code: '1'
            ignore-unfixed: true
            vuln-type: 'os,library'
            severity: 'CRITICAL,HIGH'
  
  Checkout-CD-Repo:
    name: Getting the access of CD repo
    runs-on: self-hosted
    needs: Trivy-Image-Scanning

    steps:
      - name: Checkout CD repo
        if: needs.Trivy-Image-Scanning.outputs.app_changed == 'true'
        uses: actions/checkout@v4
        with:
          repository: rajkumardubey10/CD-repo-for-Gitops
          ssh-key: ${{ secrets.GITOPS_DEPLOY_KEY }}
          path: manifests

      - name: Update image tag using yq
        if: needs.Trivy-Image-Scanning.outputs.app_changed == 'true'
        run: |
          yq -i '
            .spec.template.spec.containers[0].image =
            "rajkumardockerhub/fastapi-app-multistage:${{ github.sha }}"
          ' manifests/K8/deployment.yml

      - name: Commit and push manifest update
        if: needs.Trivy-Image-Scanning.outputs.app_changed == 'true'
        run: |
          cd manifests
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add .
          git diff --cached --quiet || git commit -m "Update image tag to ${{ github.sha }}"
          git push


